body {
  background-color: rgb(255, 255, 255);
}
h1 {
  margin: 0;
  text-align: center;
  border-style: dashed;
  color: #f4f4f4;
  background-color: black;
}
.parent {
display: grid; 
grid-template-columns: repeat(4, 1fr) 0fr; /*Creates 5 cols total. First 4 take 1 fraction unit*/
grid-template-rows: repeat(4, 1fr) ; /*Create 4 rows each */
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 3; } /*Row start, col start, row end, col end*/
.div2 { grid-area: 1 / 3 / 5 / 5; }

/*. Bottom Nav. */ 
#bottomNav {
    display: flex;
        flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    color:#000000;
    

}
.bottom {
    color: #000000;
}

#navBarWhole {
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    max-height: none;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 1px 20px yellow;
    
}

#bottomNav a {
color: #000000;
}

#bottomNav a:hover {
    color: #ff4242;
}
#leftBook {
width: 32px;
height: 32px;
object-fit: contain;
padding: 20px;
}

#thatsAll {
display: flex;
align-items: center;
margin: 0;
}